<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Agregar codigo de Play CDN  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-slate-800 text-white	">
    <!-- Esto es un comentario -->
    <!-- Sintaxis de Jinja  {{ nombre_del_la_variable }}  -->
    <!-- Alto = height /// Ancho = width  -->
    <!-- <h1>Titulo</h1> -->

    <div class="flex flex-wrap">
        {% for personaje in personajes: %}
        <div class="bg-slate-500 m-10 text-center w-64 p-2 rounded-xl">
            <h1 class="text-xl	font-mono	break-all"> {{personaje['name']}} </h1>

            <p> Especie: {{ personaje['species'] }} </p>

            <img class=" rounded-xl" src="{{ personaje['image'] }}" alt="{{personaje['name']}}" > 
        </div>
        {% endfor %}
    </div>
</body>
</html> 